<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Photos</title>
    <title th:replace="components/head.html :: head"></title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body style="background-color: peachpuff;">
<div th:replace="components/navbar.html :: navbar"></div>

<div class="container">
    <h2 class="text-center" style="margin: 30px auto">My Photos</h2>

    <a th:href="@{/account/{userId}/photoUpload(userId=${session.user.id})}" style="float: right">
        <button class="btn btn-primary">Upload</button>
    </a>

    <div class="row image-row">
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-8 text-center" th:each="p : ${photoList}"
             th:if="!${photoList.isEmpty()}">
            <div class="photo-card" th:id="'photo-card-'+${p.id}" style="margin-top: 20px">
                <a>
                    <img class="photo-img" th:src="@{/static/img/photos/{path}(path=${p.filePath})}"
                         alt="photo-image">
                    <div class="photo-info">
                        <p class="photo-user" th:text="'Author: '+${p.user.firstName}+' '+${p.user.lastName}"></p>
                        <p>Likes: <span class="photo-likes" th:text="${p.likes}"></span></p>
                        <button th:if="${null != session.user and p.liked != 1}" th:id="${p.id}" class="delete-photo btn"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg></button>
                        <a th:if="${session.user.id} == ${p.userId}" class="btn" th:href="@{/account/photo/edit/{p}(p=${p.id})}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg></a>
                    </div>
                </a>
            </div>
        </div>

        <div th:if="${photoList.isEmpty()}" style="margin-top: 10%" class="text-center">
            <h3>There aren't any photos yet, get posting to fill this page up!</h3>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (!window.matchMedia("(max-width: 767px)").matches) {
            $('img').hover(function () {
                $(this).css('z-index', '1');
                $(this).parent().css('font-weight', 'bold');
                $(this).animate({
                    width: "300px",
                    height: "300px",
                }, 300);
            }, function () {
                $(this).css('z-index', '0');
                $(this).parent().css('font-weight', 'unset');
                $(this).animate({
                    width: "200px",
                    height: "200px",
                }, 300);
            });
        } else {
            alert('Mobile device');
        }

        $('.delete-photo').click(function () {
            var id = $(this).attr('id');
            $.ajax({
                url: "/account/photo/delete/" + id,
                type: "GET",
                success: function () {
                    // $('#photo-card-'+id).remove();
                    window.location.reload();
                },
                error: function () {
                    alert("There was an issue with your request");
                }
            });
        });
    });
</script>
</body>
</html>