.photo-img:hover + .photo-category {
    display: block;
}

.photo-category:hover + .photo-img {
    opacity: 0.3;
}

.photo-card {
    position: relative;
    text-align: center;
    color: black
}

.photo-category {
    /*display: none;*/
    text-align: center;
}

.image-row {
    padding: 10px;
}

.photo-img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    position: relative;
}

.photo-info {
    margin-top: 10px;
}
