@media screen and (min-width: 550px) {
    #login-form {
        width: 80%;
        margin: 10% auto 0 auto;
        padding: 1%
    }
}

@media screen and (max-width: 550px) {
    #login-form {
        width: 100%;
        margin: 10% auto 0 auto;
        padding: 1%
    }
}

.form-group {
    margin: 30px;;
}

#submit-form {
    margin: 20px auto;
    width: 50%;
    display: block;
}